<footer *ngIf="isLogin" class="bg-light pt-5">
    <div class="container my-4">
        <h2>Get the FreshCart App</h2>
        <p class="text-black-50">we will send you a link, open it on your phone to download the app</p>
        <div class="d-flex gap-4 px-4 mb-4">
            <div class="flex-grow-1">
            <input class="form-control" type="text" placeholder="Email">
            </div>
            <button class="btn bg-main col-2 text-white">Share App Link</button>
        </div>
        <div class="break-line"></div>
        <div class="mt-4 mb-2 d-flex">
            <div class="d-flex col-5">
                <h3 class="h6 me-1">Payment Partners</h3>
                <ul class="d-flex flex-row list-unstyled">
                    <li class="mx-1"><img class="img-fluid" src="../../assets/Images/amazon-pay.png" alt=""></li>
                    <li class="mx-1"><img class="img-fluid" src="../../assets/Images/american-express.png" alt=""></li>
                    <li class="mx-1"><img class="img-fluid" src="../../assets/Images/mastercard.png" alt=""></li>
                    <li class="mx-1"><img class="img-fluid" src="../../assets/Images/paypal.png" alt=""></li>
                </ul>
            </div>
            <div class="d-flex ms-auto">
                <h3 class="me-3">Get deliveries with FreshCart</h3>
                <div>
                    <img src="../../assets/Images/appstore-and-google-play-icons.png" alt="">
                </div>
            </div>
        </div>
        <div class="break-line"></div>
    </div>
</footer>
