<div *ngIf="cartDetails && success" class="container mg-main-light p-4 my-4 pt-5">
    <div class="d-flex">
        <h3>Shop Cart</h3>
        <button (click)="checkout(cartDetails._id)" class="btn btn-primary text-white ms-auto">Check Out</button>
    </div>
    <div>
        <h6 class="fw-bolder">Total Price:<span class="text-main">{{cartDetails.totalCartPrice}} EGP</span></h6>
        <h6 class="fw-bolder">Total Number of Items:<span class="text-main">{{numOfCartItems}}</span></h6>
    </div>
    <div *ngFor="let product of cartDetails?.products" class="row align-items-center border-bottom py-3">
        <div class="col-md-1">
            <img class="img-fluid" [src]="product?.product.imageCover">
        </div>
        <div class="col-md-10">
            <div>
                <h6>{{product.product.title}}</h6>
                <h6 class="text-main">Price: {{product.price}}</h6>
            </div>
            <button (click)="removeCartItem(product.product._id)" class="btn m-0 p-0">
                <i class="fa-regular fa-trash-can text-main"></i>
                Remove
            </button>
        </div>
        <div class="col-md-1">
            <button (click)="updateProductQuantity(product.product._id, product.count+1)" class="btn border-main btn-sm">+</button>
            <span class="mx-2">{{product.count}}</span>
            <button (click)="updateProductQuantity(product.product._id, product.count-1)" class="btn border-main btn-sm">-</button>
        </div>
    </div>
    <button (click)="clearUserCart()" class="btn d-block mx-auto border-main ">Clear Your Cart</button>
</div>
<div *ngIf="!success" class="container p-4 my-4 pt-5">
    <h3>Your Cart Is Empty</h3>
</div>
