<div class="container">
    <app-main-slider></app-main-slider>
    <app-categories-slider></app-categories-slider>
    <div class="row">
        <div *ngFor="let product of products; let i = index" class="col-2 product px-3">
            <div (click)="showProductDetails(product.id)">
                <img class="img-fluid" [src]="product.imageCover">
                <h6 class="text-main">{{product.category.name}}</h6>
                <h4>{{product.title}}</h4>
                <div class="d-flex justify-content-between">
                    <h6>{{product.price}}EGP </h6>
                    <div class="ms-auto d-flex">
                        <i class="fa fa-star rating-color"></i>
                        <h6>{{product.ratingsAverage}}</h6>
                    </div>
                </div>
            </div>
            <i id="product-{{i}}" (click)="addToOrRemoveFromWishlist(i, product.id)" class="fa fa-heart fa-lg p-2 pb-3"></i>
            <button (click)="addToCart(product.id)" class="btn bg-main w-100 text-white">Add to Cart</button>
        </div>
    </div>
</div>